footer.footer
    .container
        .footer_row
            .footer_item
                span.footer_design Разработка сайта 
                a(href="https://www.facebook.com/bigkeyrealty/").footer_design-author  Bigkey Realty
            .footer_item
                a(href="#").footer_email info@bigkey.ru
                .footer_social 
                    a(href="#").footer_social-link
                        i.fa.fa-vk.footer_social-icon(aria-hidden='true')
                    a(href="#").footer_social-link
                        i.fa.fa-facebook.footer_social-icon(aria-hidden='true')
                    a(href="#").footer_social-link
                        i.fa.fa-telegram.footer_social-icon(aria-hidden='true')
        

script(type='text/javascript').
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'ru', includedLanguages: 'en,kk,ky,ru,tg,vi,zh-CN',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
    }
script(src='vendor/jquery/jquery-3.1.1.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js')  
script(type='text/javascript', src='vendor/slick/slick.min.js')
script(src='vendor/validate/jquery.validate.min.js')
script(src='vendor/masked-input/jquery.maskedinput.min.js')
script(src='vendor/ui/jquery-ui.js')
script(src='vendor/select/select2.min.js')
script(src='vendor/masonry-docs/masonry.pkgd.js')
script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
//- script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCNdkgDutZy7or7gFojf0JI0Ii9q0nJMYM&callback=initMap')
script(src='js/object-map.js')
script(src='js/masonry.js')
script(src='js/main.js')
