.container
    header
        .logo
            a(href="#").logo_icon
        .tagline
            p.tagline_text Открой будущее
            span.tagline_text-motto Супермаркет новостроек Кыргызстана
        .developer_logo 
            img(src="images/company_logo.png")

                