.main_menu_wrap
	.container
		ul.main_menu
			li.main_menu_item
				a(href='#').main_menu_link Главная
			li.main_menu_item
				a(href='#').main_menu_link  О проекте
				ul.dropdown
					li
						a(href='#') Архитектура
					li
						a(href='#') Инфраструктура
					li
						a(href='#') Партнеры
			li.main_menu_item
				a(href='#').main_menu_link Купить квартиру
				ul.dropdown
					li
						a(href='#') Условия покупки
					li.mob_hide
						a(href='#') Визуальный выбор
					li
						a(href='#') Выбор по параметрам
					li
						a(href='#') Акции
					li
						a(href='#') Ипотека
					li
						a(href='#') Коммерческие помещения
			li.main_menu_item
				a(href='#').main_menu_link О Застройщике
			li.main_menu_item
				a(href='#').main_menu_link Ход строительства
				ul.dropdown
					li
						a(href='#') Галерея
					li
						a(href='#') Трансляция
			li.main_menu_item
				a(href='#').main_menu_link Галерея
				ul.dropdown
					li
						a(href='#') Корпуса
					li
						a(href='#') Территория
					li
						a(href='#') Холлы
					li
						a(href='#') Типовые Планировки 
			li.main_menu_item
				a(href="#").main_menu_link Новости
			li.main_menu_item
				a(href="#").main_menu_link Документы
			li.main_menu_item
				a(href="#").main_menu_link Контакты
			li.main_menu_item
				a(href="#").main_menu_link Отзывы
		