body
{
    font-family: 'Work Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.3em;

    background: #1b0f0f;
}

.container
{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
}

.header
{
    background: #6f4040;
}

.header .menu
{
    font-size: 20px;

    margin: 0;
    padding: 0;

    list-style-type: none;

    text-transform: uppercase;

    color: #fff;
}

.header .menu li
{
    display: inline-block;

    border-bottom: 1px solid transparent;
}

.header .menu li:hover
{
    border-bottom: 1px solid red;
}

.header .menu_link
{
    font-size: 15px;

    margin: 0 5px;
    padding: 10px 0;

    text-decoration: none;

    color: #fff;
}

.main .converter
{
    text-align: center;

    color: #fff;
}

.main .converter_title
{
    margin: 0;
    padding: 50px 0;
}

.main .converter_form label
{
    display: block;

    margin-bottom: 15px;
}

.main .converter_form input[type='url'],
.main .converter_form button[type='submit']
{
    font-family: 'Work Sans';
    font-size: 20px;

    height: 45px;
    padding: 8px 15px;

    border: 0;
    border-radius: 6px;
}

.main .converter_form input[type='url']
{
    width: 30%;
}
